/* Estilos para el navbar */
.navbar {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

body {
    background-image: url('../images/27131.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 10px;
}

table {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    
}

.navbar-brand img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;

}

.navbar-nav {
    margin-left: auto;
}

.nav-item {
    margin-right: 10px;
}

.nav-link {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #2600ff;
}