<!DOCTYPE html>
<html>

<head>
    <link rel="icon" type="image/png" href="../static/images/logo.png" />
    <title>Banco de Los Andes</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/navbar.css}" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href='@{/}'><img th:src="@{/images/logo.png}" width="70"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/clientes}">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/cuentas}">Cuentas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/empleados}">Empleados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/oficinas}">Oficinas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/operaciones}">Operaciones Bancarias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/cuentas/operaciones}">Operaciones Cuenta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/usuarios}">Usuarios</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="text-center">
            <h1>Lista de Oficinas</h1>
            <table class="table table-hover table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Puntos de Atención</th>
                        <th>Dirección</th>
                        <th>Horario</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="oficina : ${oficinas}">
                        <td th:text="${oficina.id}"></td>
                        <td th:text="${oficina.nombre}"></td>
                        <td th:text="${oficina.numPuntosAtencion}"></td>
                        <td th:text="${oficina.direccion}"></td>
                        <td th:text="${oficina.horario}"></td>
                        <td>
                            <a th:href="@{'/oficinas/' + ${oficina.id}}" class="btn btn-primary btn-sm">Ver Detalles</a>
                            <a th:href="@{'/oficinas/' + ${oficina.id} + '/editar'}" class="btn btn-primary btn-sm">Editar</a>
                            <a th:href="@{'/oficinas/' + ${oficina.id} + '/borrar'}" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de borrar esta oficina?')">Borrar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <a th:href="@{/oficinas/nueva}" class="btn btn-primary">Añadir Oficina</a>
                <a th:href="@{/}" class="btn btn-secondary">Volver Atrás</a>
            </div>
            <br />
        </div>
    </div>
</body>

</html>