<!DOCTYPE html>
<html>

<head>
    <link rel="icon" type="image/png" href="../static/images/logo.png" />
    <title>Banco de Los Andes</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/navbar.css}" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href='@{/}'><img th:src="@{/images/logo.png}" width="70"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <!-- Navigation items -->
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="text-center">
            <h1>Lista de Puntos de Atención</h1>
            <table class="table table-hover table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Ubicación</th>
                        <th>Operaciones Realizadas</th>
                        <th>Tipo de punto de atención</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="puntoAtencion : ${puntosAtencion}">
                        <td th:text="${puntoAtencion.ubicacionGeografica}"></td>
                        <td th:text="${puntoAtencion.operacionesRealizadas}"></td>
                        <td th:text="${puntoAtencion.tipo}"></td>
                        <td>
                            <a th:href="@{'/oficinas/' + ${oficinaId} + '/puntosatencion/' + ${puntoAtencion.id} + '/editar'}" class="btn btn-primary btn-sm">Editar</a>
                            <a th:href="@{'/oficinas/' + ${oficinaId} + '/puntosatencion/' + ${puntoAtencion.id} + '/borrar'}" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de borrar este punto de atención?')">Borrar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <a th:href="@{'/oficinas/' + ${oficinaId} + '/puntosatencion/nuevo'}" class="btn btn-primary">Añadir Punto de Atención</a>
                <a th:href='@{'/oficinas/' + ${oficinaId}}' class="btn btn-secondary">Volver Atrás</a>
            </div>
            <br />
        </div>
    </div>
</body>

</html>
